.main{
	background:blue;
}

.menu-nav ul{
	list-style: none;
    margin: 0;
    padding: 0;
	

}

.menu-nav li{
	padding: 8px;
    margin-bottom: 7px;

	
}




@media (max-width:600px){
	.main{
		background:red;

	}
}
