.main{
	background:blue;
	margin: 0 auto 0 auto;
	width:1024px;
}

.menu-nav ul{
	
    margin: 0;
    padding: 0;
	

}

.menu-nav li{
	text-align:center;
	padding: 8px;
    margin-bottom: 7px;
	list-style: none;

	
}
h1{
	text-align:center;
}



@media (max-width:600px){
	.main{
	
		margin: 0 auto 0 auto;
		width:100%;
	}
}
