body {font-family:Verdana Arial sans-serif;
      font-size:18px;
}

.main {max-width:900px;
       margin:0 auto 0 auto;
       
}

.tabs {margin:0;
       padding:0;
}

    .tabs li {float:left;
              list-style:none;
              margin-right:10px;
    }

    .tabs a {display:block;
             text-decoration:none;
             padding:3px 5px;
             
    }

        .tabs a.active {
            background:grey;
        }

.panelContainer {clear:left;

}

.panel {color:darkblue;
        background:#c1ed78;
        
        height:inherit;
        
       
}

#form { position:relative;
        max-width:400px;
        
        left:25%;
        /*border:1px solid black;*/
        background:#c1ed78;
}
#form p { position:relative;
          left:30%;
}

        #form ul li{display:block;
                    margin:10px 10px 10px 10px;
                    
        }

        #form .input {float:right;
                      overflow:hidden;

        }

        #form .label{margin-right:10px;
        }
        #select {float:right;
        }
        #down {float:right;
               
        }

.imgF {
    width:75px;
    height:75px;
    position:absolute;
    border:1px solid black;
    margin:10px 10px 10px 10px;
}

/*.divPic{
    position:absolute;
    width:75px;
    height:75px;
    border:1px solid black;
    margin:10px 10px 10px 10px;
   

}*/

.news{
    float:right;
    width:85%;
    padding:10px;
    
    text-indent:20px;
    overflow:auto;
    resize:vertical;
    
}
.news::first-letter{
    font-size:20px;
    
}
.news::selection{
    color:white;
    background-color:white;
}
.news:hover { transform:scale(1.1);
              background:yellowgreen;
              opacity:0.7;
}

footer {padding:10px 10px 10px 10px;
        background:#d95353;
        text-align:right;
}
/*za AddValuta*/
#add { position:relative;
        max-width:400px;
        list-style-type:none;
        left:25%;
        /*border:1px solid black;*/
        background:#c1ed78;
          
}

        #add li{display:block;
                    margin:10px 10px 10px 10px;
                    
        }

        #add .input {float:right;
                      overflow:hidden;

        }
        #add #btnValuta {float:right;
                         overflow:hidden;
        }


#dictionary {
             float:left;
             background:yellow;
}

.clear {clear:both;
}

 .letters li {
                background:red;
                display:inline-block;
}
