@media all and (min-width:600px){
.main{

	font-family: Verdana;
	background:#A0A0A0;
	margin: 0 auto 0 auto;
	width:100%;
}

.menu-nav{
	
    margin: 0;
    padding: 0;
	

}

.menu-nav li{
	text-align:center;
	padding: 8px;
    margin-bottom: 7px;
	list-style: none;

	
}
h1{
	text-align:center;
}

}

@media (max-width:600px){
	.main{
		font-size:100%;
		font-family: Verdana;
		background:red;
		margin: 0 auto 0 auto;
		width:100%;

	}
	.menu-nav{
	
    margin: 0;
    padding: 0;
	

}

		.menu-nav li{
			text-align:center;
			padding: 8px;
			margin-bottom: 7px;
			list-style: none;

			
}
			h1{
				text-align:center;
			}
	
}
